h1{
    text-align: center;
    
    
}
.main{
  background-color: #c5dff8;
}
.about{
  background-color: #12486b;
}
ul{
    color: black;
    font-size: large;
    font-weight: 300;
}
a{
    color: black;
}
.nav-item{
    justify-content: center;
}
.home{
    background-image: url("https://imgs.search.brave.com/Vn-1gvmWqWB1j35xBLtjhKz1gSdnm7EcZusjgybLnVg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9tZWRp/Y2luZS1kb2N0b3It/d3JpdGUtZWxlY3Ry/b25pYy1tZWRpY2Fs/LXJlY29yZC10YWJs/ZXQtZG5hLWRpZ2l0/YWwtaGVhbHRoY2Fy/ZS1uZXR3b3JrLWNv/bm5lY3Rpb24taG9s/b2dyYW0tbWVkaWNp/bmUtMTU0NzQyNDQ2/LmpwZw");
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    padding-left: 40px;
    text-align: center;
    padding-right: 50px;
    color:  #030637;

}
div .logo{
    display: flex;
    align-items: center; /* Align items vertically */
    white-space: 60px;
  }

 .btn-group{
    display: flex;
    justify-items: normal;
 }
 /* Add space between items */
.item {
    margin: 40px; /* Adjust the value based on your preference */
  }
  .back{
    background-color: #cd5c08;
  }
 h2{
  color: #332941;
 }
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.containers {
    max-width: 800px;
    margin: 50px auto;
    background-color: #419197;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

p {
    color: #030637;
    line-height: 1.6;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.containerss {
    max-width: 800px;
    margin: 50px auto;
    background-color: #419197;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

p {
    color: #030637 ;
    line-height: 1.6;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        nav {
            display: flex;
            
           background-color: #3e3232;
           width: 100%;
            
           
            
            
            
        }

        nav img {
            height: 70px;
            width: 100px;
            display: block;
            padding-left: 20px;
            margin-left: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-size: 16px;
            padding: 25px;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .content {
            margin-top: 70px; /* Adjusted for the fixed navbar */
            padding: 20px;
        }
        
        
        .result {
            display: flex;
            flex-wrap: wrap; 
            padding-left: 20px;
            
        }
        .results {
            display: flex;
            flex-wrap: wrap; 
            padding-left: 20px;
        }
        .resul {
            
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                border: 1px solid #ccc;
                /* Adjust the maximum width as needed */
                box-shadow: 5px 4px 8px rgba(62, 31, 146, 0.1); /* Optional: Add a subtle box shadow */
              }
              
              .resul strong {
                color: #333;
                font-size: 18px;
                margin-bottom: 5px; /* Optional: Add some margin below the name */
              }
              
              .resul span {
                color: #555;
                font-size: 14px;
              }
              
              .resul img {
                max-width: 100%;
                height: auto;
                margin-top: 10px; /* Optional: Add some margin above the image */
              }
              .search-by-location {
                max-width: 300px;
                margin: 20px auto;
                padding: 15px;
                background-color: #f4f4f4;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                text-align: center;
                background-color: #beadfa;
              }
              .hi{
                background-color: #dfccfb;
              }
              
              label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
              }
              
              #locationInput {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 10px;
                border: 2px solid #3498db;
                border-radius: 4px;
                transition: border 0.3s ease;
              }
              
              #locationInput:focus {
                border-color: #007bb5;
              }
              
              button {
                background-color: #3498db;
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
              }
              
              button:hover {
                background-color: #007bb5;
              }
              .search-by-specialization {
                max-width: 300px;
                margin: 20px auto;
                padding: 15px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                text-align: center;
                background-color: #bbab8c;
              }
              .hello{
                background-color: #ded0b6;
              }
              
              label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
              }
              
              #specialization {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 10px;
                border: 2px solid #3498db;
                border-radius: 4px;
                transition: border 0.3s ease;
              }
              
              #specialization:focus {
                border-color: #007bb5;
              }
              
              button {
                background-color: #3498db;
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
              }
              
              button:hover {
                background-color: #007bb5;
              }
              .search-by-doctors {
                max-width: 300px;
                margin: 20px auto;
                padding: 15px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                text-align: center;
                background-color: #99bc85;
              }
              
              label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
              }
              
              #namess {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 10px;
                border: 2px solid #3498db;
                border-radius: 4px;
                transition: border 0.3s ease;
              }
              
              #namess:focus {
                border-color: #007bb5;
              }
              
              button {
                background-color: #3498db;
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
              }
              
              button:hover {
                background-color: #007bb5;
              }
              .backs{
                background-color: #bfd8af;
              }
              .contact-container {
                max-width: 600px;
                margin: 50px auto;
                padding: 20px;
                background-color: #6bcdf1;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              }
              .conta{
                background-color: #b7c352;
              }
              footer{
                
                margin-bottom: 0px;
                padding-bottom: 0px;
              }
          
             
          
              p {
                color:  #030637;
              }
          
              .contact-details {
                margin-top: 20px;
              }
          
              .contact-details div {
                margin-bottom: 10px;
              }
          
              .contact-details div span {
                display: inline-block;
                width: 150px;
                font-weight: bold;
              }
              
              
              
              
              
              
  